################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStoreProject/obj
/.vs
/BookStoreProject/bin/Debug/net8.0
